{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %}</title>
  <!--
  <link rel="stylesheet" href="https://github.com/necolas/normalize.css/blob/master/normalize.css">
  -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
  {% include "header.html" %}
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  {% include "footer.html" %}
  {% block javascript %}{% endblock javascript %}
</body>
</html>